Package: com.kef.rofi
Name: Rofi
Depends: mobilesubstrate, ws.hbang.alderis, ws.hbang.common (>= 1.11), applist, preferenceloader
Architecture: iphoneos-arm
Description: An app launcher tweak.
Maintainer: Kef <theonlykef@gmail.com>
Author: Kef <theonlykef@gmail.com>
Section: Tweaks
Version: 1.2.2-zhCN
Icon: https://chariz.com/cdn/icon/rofi/icon@3x.png
Depiction: https://chariz.com/get/rofi
Tag: compatible_min::ios11.0
Installed-Size: 471
