Package: com.the-eric-kwok.LocationFakerX
Name: LocationFakerX Cracked
Version: 2.8-2
Architecture: iphoneos-arm
Description: 模拟定位的软件（已破解）
Maintainer: the-eric-kwok
Author: the-eric-kwok, Netskao, CUNSTUCK
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Depiction: https://the-eric-kwok.github.io/CydiaRepo/files/?p=com.the-eric-kwok.LocationFakerX


